In [15]:
import numpy as np
import pandas as pd

In [16]:
lables=['a','b','c']
array=[10,20,30]
d={'a':10,'b':20,'c':30}

In [17]:
pd.Series(data=array)

0    10
1    20
2    30
dtype: int64

In [18]:
pd.Series(data=array,index=lables)

a    10
b    20
c    30
dtype: int64

In [19]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(lables)

0    a
1    b
2    c
dtype: object

In [21]:
 pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [22]:
ser_1=pd.Series([1,2,3,4],["USA","JAPAN","USSR","GERMANY"])
ser_1

USA        1
JAPAN      2
USSR       3
GERMANY    4
dtype: int64

In [23]:
ser_2=pd.Series([1,2,5,4],["USA","JAPAN","SPANIN","GERMANY"])
ser_2

USA        1
JAPAN      2
SPANIN     5
GERMANY    4
dtype: int64

In [24]:
ser_2[2]

5

In [27]:
#PANDAS CONVERTS ALL THE INT TO FLOAT FOR PERFORMING THE OPERATIONS
ser_1+ser_2

GERMANY    8.0
JAPAN      4.0
SPANIN     NaN
USA        2.0
USSR       NaN
dtype: float64